---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About Us: Empowered DAO</Fragment>
      <Fragment slot="desc">Uniting Visionaries, Building a Better Future.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-4">
      <p class="mb-8">
        At Empowered DAO, we believe in the power of decentralized communities to drive positive change in the digital landscape. 
        Our mission is to create an inclusive and dynamic platform where individuals worldwide can actively participate in shaping 
        the future of our decentralized autonomous organization (DAO). Together, we embark on a transformative journey, embracing 
        cutting-edge blockchain technology to empower every member of our community.
      </p>
      <h2 class="font-bold text-2xl text-gray-800">Our Vision: Embrace the Power of Collaboration</h2>
      <p class="mb-8">
        We envision a future where collaboration, transparency, and innovation drive the evolution of technology and society. 
        Through our DAO, we provide a space where diverse voices converge, bringing together visionaries, developers, and 
        enthusiasts to collectively build a more equitable and sustainable world.
      </p>
      <h2 class="font-bold text-2xl text-gray-800">What We Offer: Empowering Your Voice</h2>
      <p class="mb-8">
        At Empowered DAO, your voice matters. As a community-driven platform, we enable you to actively engage in governance 
        matters, propose ideas, and participate in decision-making. We employ decentralized voting mechanisms, ensuring that 
        every member's vote is counted and respected, promoting a truly democratic process.
      </p>
      <h2 class="font-bold text-2xl text-gray-800">Our Values: Trust, Integrity, and Empowerment</h2>
      <p class="mb-8">
        Trust is at the core of everything we do. We believe in fostering an environment of transparency, integrity, and open 
        communication, where our members can feel confident in actively contributing to our shared vision. We are committed to 
        empowering individuals, promoting inclusivity, and rewarding active participants for their valuable contributions.
      </p>
      <h2 class="font-bold text-2xl text-gray-800">The Power of DAO Technology: Secure and Efficient</h2>
      <p class="mb-8">
        Our DAO leverages the power of smart contracts on a secure blockchain, providing an efficient and trustless governance 
        system. Automated operations and transparent decision-making processes ensure that proposals are executed with speed 
        and precision, enabling us to be adaptable and responsive to our community's needs.
      </p>
      <h2 class="font-bold text-2xl text-gray-800">Join Our Journey: Be a Part of Something Extraordinary</h2>
      <p class="mb-8">
        We invite you to join our empowering journey. Whether you're an experienced blockchain enthusiast or new to the world of 
        decentralized governance, there's a place for you at Empowered DAO. Together, we will forge a path towards a brighter 
        future, where technology, innovation, and collaboration unite for the greater good.
      </p>
      <h2 class="font-bold text-2xl text-gray-800">Get Involved: Let Your Vision Soar</h2>
      <p class="mb-8">
        Let your vision soar with Empowered DAO. Connect with like-minded individuals, explore new possibilities, and together, 
        let's create lasting impact. Be a part of a global community that values your contributions and celebrates your unique 
        perspective. Join us today and be part of something extraordinary! 🚀
      </p>
    </div>
    
  </Container>
</Layout>
