---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="tokenomics">
  <Container>
    <Sectionhead>
        <Fragment slot="title">Tokenomics</Fragment>
        <Fragment slot="desc">Learn How The EPWR Token Gets It Value</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-4">
        <p class="mb-4 mt-8">
          This section is still under construction. Please check back soon. In the meantime, please checkout our 
          <a href="/blog">blog</a>.
        </p>
    </div>

  </Container>
</Layout>