---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Decentralized Decision-Making",
    description:
      "As a DAO, we empower all stakeholders to be part of decision-making without relying on central authorities. Smart contracts enable us to vote and govern in a decentralized manner.",
    icon: "bx:bxs-network-chart",
  },
  {
    title: "Transparency and Accountability",
    description:
      "We operate with complete transparency, and all our transactions and decisions are publicly accessible on an immutable blockchain, fostering trust and accountability.",
    icon: "bx:bxs-book",
  },
  {
    title: "Inclusive Participation",
    description:
      "Everyone is welcome to participate and contribute their ideas. We value diverse perspectives and aim to build a community where all voices matter.",
    icon: "bx:bxs-group",
  },
  {
    title: "Automated Operations",
    description:
      "Our governance process is efficient and trustless, thanks to smart contracts. Proposals are automatically executed, ensuring swift and reliable decision-making.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Economic Incentives",
    description:
      "Engage and be rewarded for active participation within our DAO, unlocking exclusive benefits and opportunities.",
    icon: "bx:bxs-coin-stack",
  },
  {
    title: "Adaptability and Flexibility",
    description:
      "We adapt to changing circumstances by proposing and implementing upgrades on-chain. Our flexibility allows us to stay relevant and responsive to community needs.",
    icon: "bx:bxs-wrench",
  },
];
---

<!--
<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to start a website
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>
 -->
<div class="grid sm:grid-cols-2 md:grid-cols-3 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h2 class="font-semibold text-lg">{item.title}</h2>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
